Logging:
  filename: "workflow.log"
  level: INFO
  format: "%(asctime)s - %(levelname)s - %(message)s"

AgentMemory:
  message_history:
    phase_independent: false
  vector_store:
    use: true
    connection_url: "${QDRANT_URL}"
    namespace: "{user_id}"
    embedding_model: "sentence-transformers/paraphrase-albert-small-v2"
    similarity_metric: "cosine"
    top_k: 5
    forget_k: 1
  database:
    type: "postgresql"
    connection_string: "${POSTGRESQL_CONNECTION_STRING}"
    long_term: # for user-specific persistent memory
      use: true
      namespace: "user:{user_id}"
      top_k: 5
      forget_k: 1
    short_term: # for session-specific memory
      use: false


Hypothesis:
  candidate_count: 3
  archive_candidates: true
  show_all_candidates: true


WebSearch:
  use: true
  default_search_endpoint: "https://www.google.com/search"


APIs:
  google_search:
    use_api: true
    api_key: "${GOOGLE_SEARCH_API_KEY}"
    engine_id: "${GOOGLE_SEARCH_ENGINE_ID}"
  semantic_scholar:
    use_api: true
    api_key: "${SEMANTIC_SCHOLAR_API_KEY}"
    endpoint: "https://api.semanticscholar.org/graph/v1"